.package {
	background:#294c6d url('../img/package/package-bg.jpg') top center no-repeat;
	min-height: 1351px;
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		margin: 0;
		padding-top: 150px;
	}
	&__subtitle {
		margin-bottom: 60px;
		color: #fff;
	}
	&__slider {

	}
	&__slide {
		width: 370px;
		min-height: 580px;
		background-color: #fff;
		border-radius: 5px;
		&-img {
			position: relative;
			& img {
				width: 370px;
				height: 370px;
				overflow: hidden;
			}
		}
		&-span {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 100px;
			height: 30px;
			top: 0;
			left: 50%;
			margin-left: -50px;
			background-color: $lite-blue;
			font-size: 15px;
			text-transform: uppercase;
			text-align: center;
			color: #fff;
			&--air {
				margin-left: -10px;
				padding-right: 10px;
				width: 12px;
				height: 12px;
				background: url('../img/icons/plane.svg') center no-repeat;
				background-size: contain;
			}
			&--road {
				margin-left: -10px;
				padding-right: 10px;
				width: 12px;
				height: 12px;
				background: url('../img/icons/road.svg') center no-repeat;
				background-size: contain;
			}
		}
		&-content {
			display: flex;
			justify-content: space-between;
			padding-left: 14px;
			padding-right: 14px;
			padding-bottom: 10px;
			border-bottom: 1px solid #d6d6d6;
		}
		&-text {
			margin-top: 0;
			line-height: 24px;
			&-wrapper {
				width: 260px;
			}
		}
		&-title {
			margin-top: 20px;
			margin-bottom: 10px;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			line-height: 26px;
			font-weight: 700;
			color: #000;
		}
		&-right {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-end;
		}
		&-price {
			&--old {
				margin: 0;
				margin-top: 16px;
				text-align: right;
				font-family: 'Montserrat', sans-serif;
				font-size: 14px;
				line-height: 16px;
				text-decoration: line-through;
				color: #ef5b5b;
				font-weight: 600;
			}
			&--new {
				margin: 0;
				margin-top: 4px;
				text-align: right;
				font-family: 'Montserrat', sans-serif;
				font-size: 22px;
				line-height: 26px;
				color: $lite-blue;
				font-weight: bold;
			}
		}
		&-duration {
			text-align: right;
			font-family: 'Montserrat', sans-serif;
			font-size: 14px;
			line-height: 20px;
			font-weight: 600;
			color: #000;
			& span {
				font-size: 18px;
				font-weight: bold;
				color: #ef5b5b;
			}
		}
		&-bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 auto;
			width: 344px;
			height: 60px;
		}
		&-rating {
			display: flex;
			justify-content: space-between;
			align-items: center;
			& p {
				margin: 0;
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				line-height: 12px;
				font-weight: 600;
				color: #000;
			}
		}
		&-stars {
			display: flex;
			align-items: center;
			margin-left: 8px;
			height: 14px;
			& li {
				margin-right: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		&--star {
			width: 14px;
			height: 14px;
			background: url('../img/icons/star.svg') center no-repeat;
			background-size: contain;
		}
		&--star-half {
			width: 14px;
			height: 14px;
			background: url('../img/icons/star-half.svg') center no-repeat;
			background-size: contain;
		}
		&-reviews {
			margin: 0;
			margin-right: auto;
			padding-left: 5px;
			border-left: 1px solid #000;
			font-family: 'Montserrat', sans-serif;
			font-size: 12px;
			line-height: 12px;
			font-weight: 600;
			color: #000;
		}
		&-button {
			padding: 8px 14px;
			border-radius: 4px;
			text-transform: none;
			font-size: 14px;
			font-weight: normal;
		}
	}
	&__form {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 1140px;
		height: 60px;
		background-color: #fff;
		border: 14px solid #a0afae;
		&-title {
			margin-bottom: 70px;
			font-family: 'Montserrat', sans-serif;
			font-size: 28px;
			line-height: 26px;
			font-weight: bold;
			color: #fff;
		}
		& label {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-left: 25px;
			padding-right: 10px;
			width: 20px;
			height: 20px;
		}
		& input {
			width: 200px;
			border: none;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			line-height: 16px;
			font-weight: 600;
			color: #808080;
		}
		& select {
			border: none;
			font-family: 'Montserrat', sans-serif;
			font-size: 18px;
			line-height: 16px;
			font-weight: 600;
			color: #808080;
		}
		&-item {
			display: flex;
			align-items: center;
			height: 60px;
			border-right: 1px solid #a0afae;
			&:last-of-type {
				border: none;
			}
		}
		&-location {
			width: 280px;
			font-size: 20px;
		}
		&-checkin {
			width: 250px;
		}
		&-checkout {
			width: 270px;
		}
		&-people {
			width: 187px;
		}
		&-button {
			padding: 0;
			width: 150px;
			height: 100%;
			background-color: $lite-red;
			border: none;
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			&:hover {
				cursor: pointer;
				transition: all 0.2s;
				background-color: #f07373;
			}
		}
	}
}