.tour {
	background:#42c5ff url('../img/tour/tour-bg.jpg') top center no-repeat;
	min-height: 2200px;
	&__button {
		&-wrapper {
			padding-top: 870px;
			width: 440px;
			height: 120px;
		}
		& span {
			display: inline-block;
			margin-right: 36px;
			width: 115px;
			height: 115px;
			background: url('../img/tour/play.png') center no-repeat;
			border-radius: 50%;
			border: 5px solid transparent;
			&:hover {
				transition: all 0.2s;
				border: 5px solid #fff;
			}
		}
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 48px;
		line-height: 48px;
		font-weight: bold;
		color: #fff;
	}
}