body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #808080;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

.section-title {
  margin: 0;
  font-family: 'Segoe Script', sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: #ef5b5b;
}

.section-subtitle {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: #000;
}

.button {
  padding: 12px 26px;
  background-color: #ef5b5b;
  border-radius: 6px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.button:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #f07373;
}

.container {
  margin: 0 auto;
  padding: 0 0;
  width: 1170px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  min-height: 980px;
  background: #c1dff0 url("../img/header/header-bg.jpg") top center no-repeat;
}

.header__title {
  font-size: 28px;
  line-height: 32px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 55px;
}

.header__top-search {
  margin-left: 20px;
  margin-right: 20px;
  height: 18px;
}

.header__top-button {
  padding: 11px 31px;
}

.header__bottom {
  margin-top: 215px;
}

.header__promo-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
}

.header__promo-subtitle {
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 28px;
  font-weight: 600;
}

.header__promo-button {
  position: relative;
  padding: 17px 28px;
  padding-right: 32px;
}

.header__promo-button span {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 20px;
  right: 22px;
  border: 5px solid transparent;
  border-left-color: #fff;
  border-right: 0;
}

.main-nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 560px;
}

.main-nav__item a {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
}

.main-nav__item a span {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 7px;
  right: -14px;
  border: 5px solid transparent;
  border-top-color: #000;
  border-bottom: 0;
}

.main-nav__item a:hover {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  color: #fff;
}

.main-nav__item a:hover span {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-top-color: #fff;
}

.trip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.trip__about {
  width: 250px;
  margin-bottom: 170px;
}

.trip__about p {
  margin-bottom: 40px;
}

.trip__about-button {
  padding: 16px 41px;
  font-size: 16px;
  font-weight: 600;
}

.trip__title {
  margin: 0;
}

.trip__card {
  margin-left: 30px;
  cursor: pointer;
  width: 370px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.trip__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #d6d6d6;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.trip__card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: -115px;
  margin-bottom: 150px;
}

.trip__card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 340px;
  height: 50px;
}

.trip__card-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trip__card-rating p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  color: #000;
}

.trip__card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
}

.trip__card-stars li {
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.trip__card-button {
  padding: 7px 20px;
  border-radius: 4px;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

.features {
  background-color: #f0efef;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.features__slider {
  min-height: 350px;
}

.features__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 370px;
  min-height: 340px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 2px #cbcbcb;
  box-shadow: 2px 2px 2px #cbcbcb;
}

.features__slide-img {
  padding-top: 40px;
  padding-bottom: 20px;
  width: 60px;
  height: 70px;
}

.features__slide-title {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 26px;
}

.features__slide-text {
  text-align: center;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 120px;
}

.features__item {
  margin-bottom: 30px;
  width: 570px;
  min-height: 170px;
  background-color: #fff;
  -webkit-box-shadow: 1px 2px 2px #cbcbcb;
  box-shadow: 1px 2px 2px #cbcbcb;
}

.features__item-title {
  margin: 0;
  padding-top: 28px;
  padding-left: 28px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 26px;
  color: #00b1ff;
}

.features__item-text {
  padding-left: 28px;
  padding-right: 80px;
}

.convenience__title {
  margin: 0;
  padding-top: 150px;
}

.convenience__subtitle {
  margin-bottom: 65px;
}

.choose__title {
  margin: 0;
  padding-top: 80px;
}

.choose__subtitle {
  margin-bottom: 65px;
}

.package {
  background: #294c6d url("../img/package/package-bg.jpg") top center no-repeat;
  min-height: 1351px;
}

.package__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.package__title {
  margin: 0;
  padding-top: 150px;
}

.package__subtitle {
  margin-bottom: 60px;
  color: #fff;
}

.package__slide {
  width: 370px;
  min-height: 580px;
  background-color: #fff;
  border-radius: 5px;
}

.package__slide-img {
  position: relative;
}

.package__slide-img img {
  width: 370px;
  height: 370px;
  overflow: hidden;
}

.package__slide-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 30px;
  top: 0;
  left: 50%;
  margin-left: -50px;
  background-color: #00b1ff;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.package__slide-span--air {
  margin-left: -10px;
  padding-right: 10px;
  width: 12px;
  height: 12px;
  background: url("../img/icons/plane.svg") center no-repeat;
  background-size: contain;
}

.package__slide-span--road {
  margin-left: -10px;
  padding-right: 10px;
  width: 12px;
  height: 12px;
  background: url("../img/icons/road.svg") center no-repeat;
  background-size: contain;
}

.package__slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d6d6d6;
}

.package__slide-text {
  margin-top: 0;
  line-height: 24px;
}

.package__slide-text-wrapper {
  width: 260px;
}

.package__slide-title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.package__slide-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.package__slide-price--old {
  margin: 0;
  margin-top: 16px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: line-through;
  color: #ef5b5b;
  font-weight: 600;
}

.package__slide-price--new {
  margin: 0;
  margin-top: 4px;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #00b1ff;
  font-weight: bold;
}

.package__slide-duration {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
}

.package__slide-duration span {
  font-size: 18px;
  font-weight: bold;
  color: #ef5b5b;
}

.package__slide-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 344px;
  height: 60px;
}

.package__slide-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.package__slide-rating p {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #000;
}

.package__slide-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 8px;
  height: 14px;
}

.package__slide-stars li {
  margin-right: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.package__slide--star {
  width: 14px;
  height: 14px;
  background: url("../img/icons/star.svg") center no-repeat;
  background-size: contain;
}

.package__slide--star-half {
  width: 14px;
  height: 14px;
  background: url("../img/icons/star-half.svg") center no-repeat;
  background-size: contain;
}

.package__slide-reviews {
  margin: 0;
  margin-right: auto;
  padding-left: 5px;
  border-left: 1px solid #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: #000;
}

.package__slide-button {
  padding: 8px 14px;
  border-radius: 4px;
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
}

.package__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1140px;
  height: 60px;
  background-color: #fff;
  border: 14px solid #a0afae;
}

.package__form-title {
  margin-bottom: 70px;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
}

.package__form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 25px;
  padding-right: 10px;
  width: 20px;
  height: 20px;
}

.package__form input {
  width: 200px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  color: #808080;
}

.package__form select {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 16px;
  font-weight: 600;
  color: #808080;
}

.package__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  border-right: 1px solid #a0afae;
}

.package__form-item:last-of-type {
  border: none;
}

.package__form-location {
  width: 280px;
  font-size: 20px;
}

.package__form-checkin {
  width: 250px;
}

.package__form-checkout {
  width: 270px;
}

.package__form-people {
  width: 187px;
}

.package__form-button {
  padding: 0;
  width: 150px;
  height: 100%;
  background-color: #ef5b5b;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}

.package__form-button:hover {
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #f07373;
}

.places {
  background: url("../img/places/places-bg.jpg") top center no-repeat;
}

.places__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.places__wrapper p {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
  width: 740px;
}

.places__title {
  padding-top: 150px;
}

.places__subtitle {
  margin-bottom: 40px;
}

.places__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.places__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 80px;
  width: 570px;
}

.places__list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 204px;
  height: 204px;
  border: 1px solid #cbcbcb;
}

.places__list-content {
  padding-left: 28px;
}

.places__list-title {
  margin-top: 24px;
  margin-bottom: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
}

.places__list-countries {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 345px;
}

.places__list-countries li {
  position: relative;
  padding-left: 30px;
  line-height: 32px;
}

.places__list-countries li::before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  top: 12px;
  left: 14px;
  background-color: transparent;
  border: 1px solid #00b1ff;
  border-radius: 50%;
}